@import '../../assets/styles/index.scss';

.statistics{
    @include flex-box(10px);
    justify-content: space-around;
    align-items: center;
    height: 150px;
    border: 1px solid $flame;
    background-color: $flameLighter;
    border-radius: 16px;
    padding:5px 10px;
    margin: 40px 170px;
    position: relative;
    z-index: 2;
    .card{
        @include flex-box(10px, column);
        align-items: center;
        padding: 20px;
        .data{
            font: bolder 40px 'Rubik';
            color: $flame
        }
    }
}
.line{
    display: flex;
    height: 1px;
    border-bottom: 1px solid $flame;
    position: relative;
    top: -115px
}