@import '../../assets/styles/index.scss';

.tutorsComponent{
.mainTitle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 40px 0;
 
}
.more{
    @include flex-box();
    justify-content: flex-end;
    margin: 40px 0;
}
}
.tutorsList{
    @include flex-box(20px);
    flex-wrap: wrap;
    justify-content: space-between;
    .card{
        @include flex-box(20px);
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 20px 30px;
        border-radius: 16px;
        border: 1px solid $flame;
        font-family: 'Rubik';
        min-width: 30%;
        .icon{
            svg, svg path{
                fill: $flame;
            }
        }
        .text{
            @include flex-box(10px, column, none);
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                svg{
                    width: 24px;
                    height: 24px;
                }
                font-size: 24px;
                font-weight: 800;
            }
        }
        &.active{
            background-color: $flame;
            svg, 
            svg path{
                fill: $white;
            }
            .text,
            p{
                fill: $white;
                color: $white;
            }
        }
    }
}
