@import '../../assets/styles/variables.module';
@import '../../assets/styles/mixins.module';

// header styles
.header{
display: flex;
justify-content: space-between;
padding-top:10px ;
border-bottom: 1px solid $flameLight;
svg{
    fill: $flame;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    .item{
        &.logo{
            font-family:"Rubik" ;
            font-weight: bolder;
            color: $flame;
            font-size: 32px;
            position: relative;
            margin-right: 20px;
            &::before{
                right: -10px;
                @include verticalLine(15px);
            }
        }
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 18px;
        font-weight: normal;
        padding: 8px 10px;
        transition: background-color 300ms ease;
        &:hover:not(:nth-of-type(1)){
            border-radius: 4px;
            background-color: $flameLight;
        }
        svg{
            height: 17px;
        }
        &:nth-last-child(1){
            margin-left: 20px;
        }
    }
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .lang,
    .currency{
        svg{
            width: 10px;
            margin-left: 5px;
            &.show{
                  transition:transform 300ms;
                    transform: rotate(-45deg);
            }
        }
        position: relative;
        cursor: pointer;
    }
    .info {
        position: relative;
        padding: 0 20px;
        &::before{
            left: 0;
            @include verticalLine();
        }
        &::after{
            right: 0;
            @include verticalLine();
        }
        
        }
}
}
