@import '../../assets/styles/index.scss';

.banner{
    display: flex;
    gap: 10px;
    .textSection{
        @include flex-box(20px, column);
        justify-content: space-between;
        align-items: start;
        flex: 1;
    }
        h1{
            max-width: 60%;
            text-align: start;      
            span{
                color: $flame;
                font: italic 61px/65px 'Pacifico' !important;
            }
        }
        p{
            align-items: start;
            max-width: 60%;
        }
    
    .btnGroup{
        @include flex-box(20px)
    }
    .img{
        display: flex;
        flex: 1;
        border-radius: 32px;
        background: url('../../assets/images/HeroImg.png') no-repeat center / cover;
    }
    @media screen and (max-width: $tablet){
            flex-direction: column-reverse;
            gap: 60px;
            .textSection{
                align-items: center;
                h1, p{
                    text-align: center;
                }
            }
            .img{
                flex: 1;
                min-width: 100%;
                min-height: 400px;
            }
    }

}
