@import 'variables.module';
@import 'mixins.module';

.container{
    padding: 20px 63px;
}
.component{
    padding: 20px;
    @include flex-box();
}
.componentSecondary{
    @include flex-box();
    padding: 20px;
    border: 1px solid $flame;

}
.btnSecondary{
    background-color: white;
    border: 2px solid $flame;
    color: $flame;
}
.btnFill{
    background-color: $flame;
    color:$white;
    border: unset;
    svg{
        fill:$white;
        padding-left: 5px;
    }
}
.headerText{
font: bold 50px 'Rubik';
line-height: 113px;
}
.subHeaderText{
 font: bold 36px 'Rubik' ;
 line-height: 113px;

}
.textContent {
    font: 300 16px 'Outfit';
}

@media screen and ( max-width: 1440px){
    .container{
        padding: 20px 40px;
    }
}
