@mixin vertical-line($top: 5px){
    content:'';
    top: $top;
    position: absolute;
    height: 20px;
    width: 3px;
    border-radius: 3px;
    background-color: $flameLight;
}
@mixin flex-box($gap:20px, $dir: row, $align:baseline){
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    gap: $gap;
}

@mixin header-style($size){
    font: 700 $size 'Rubik';
    color: black;
}

